extends layout

block content
  header
    +navbar-unresponsive('Privateer', '/').lighten-1(class=colorOne)
  main
    #index-banner.section.no-pad-bot
      .container
        br
        br
        h1.header.center(class="#{colorTwo}-text") Basic Resource Types

    .container
      .section
        .row
          .col.s12.l4
            .icon-block
              h2.center(class="#{colorOne}-text"): i.material-icons.large flash_on
              h5.center: a(href='/item') Simple Item
              p.light
                | Can be created, edited and deleted. Has no permission checks.
          .col.s12.l4
            .icon-block
              h2.center(class="#{colorOne}-text"): i.material-icons.large attach_money
              h5.center: a(href='/owned_item') Owned Item
              p.light
                | Has an owner, assigned at creation time.
              p.light
                | Only authenticated users can create.
                | Only creator can edit and update existed item.
          .col.s12.l4
            .icon-block
              h2.center(class="#{colorOne}-text"): i.material-icons.large shopping_cart
              h5.center: a(href='/paranoid_item') Paranoid Item
              p.light
                | Became inactive on delete and can be restored.
              p.light
                | Extra lists provided:
              ol
                li: a(href='/paranoid_item/all') Every Item
                li: a(href='/paranoid_item/deleted') Deleted Items
  +footer(true)
