extends ../layout

block content
  header
    +navbar-unresponsive(title+' List', '/')
  main

    #index-banner.section.no-pad-bot
      .container
        br
        br
        .row.center: a.btn-large(class=colorTwo, href='/#{route}/create')
          | Create
    .container
      .section: .row
        each item in list
          .col.s12
            .card
              .card-content
                h2= item.title
                p= item.field1
                p= item.field2
              .card-action
                +button('/'+route+'/'+item.id) Show
                +button('/'+route+'/'+item.id+'/edit') Edit
                +button2('/'+route+'/'+item.id+'/delete').right Delete

  +footer
